<div id="info-view" class="linkseal-screen">
  <img *ngIf="i18n.preferredLanguage == 'de'" class="info-image"
       src="//psi-products.de/fileadmin/templates/extensions/linkseal_js/info_image-de.png" alt=""
       style="width: 100%;">
  <img *ngIf="i18n.preferredLanguage == 'en'" class="info-image"
       src="//psi-products.de/fileadmin/templates/extensions/linkseal_js/info_image-en.png" alt=""
       style="width: 100%;">
  <hr class="hr-no-style">
  <button [textContent]="translate('BUTTON_CLOSE_INFO')"
          id="close-info"
          class="bottom-button"
          (click)="showConfigurator()">
  </button>
</div>
