<div id="link-seal-view">
  <div class="configurator-header">
    <button *ngIf="isRunningInApp()"
            class="button icon ion-home"
            (click)="backToMenu()">
    </button>
    <p class="subtext">LINK-SEAL<sup>&reg;</sup>- <span [textContent]='translate("CALC_TOOL")'></span></p>
    <p *ngIf="isRunningOnWebsite()" [textContent]='translate("DESCRIPTION_SHORT")' class="subtext"></p>
  </div>
  <app-configurator-view *ngIf="!!configuratorViewVisible"
                         (displayInfo)="showInfo()"
                         (displayResult)="showResult()"
                         [(resultForConfiguration)]="resultForConfiguration"
                         class="linkseal-screen">
  </app-configurator-view>
  <app-results *ngIf="!!resultViewVisible"
               [configurationResults]="resultForConfiguration"
               (displayConfigurator)="showConfigurator()">
  </app-results>
  <app-info-view *ngIf="!!infoViewVisible"
                (displayConfigurator)="showConfigurator()">
  </app-info-view>
</div>
