<div id="link-seal-view">
  <div class="configurator-header">
    <button *ngIf="isRunningInApp()"
            class="button icon ion-home"
            (click)="backToMenu()">
    </button>
    <p class="subtext">LINK-SEAL<sup>&reg;</sup>- <span translate="CALC_TOOL"></span></p>
    <p ng-show="isRunningOnWebsite()" translate="DESCRIPTION_SHORT" class="subtext"></p>
  </div>
  <app-results *ngIf="!!resultViewVisible"></app-results>
  <app-info-view *ngIf="!!infoViewVisible"></app-info-view>
</div>
